
<table>
    <thead>
        <tr>
            <th>N. </th>
            <th>Título </th>
            <th>Descripción </th>
            <th>Operaciones </th>
        </tr>
    </thead>

    <tbody>
          {{#each tasks}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.title}}</td>
                <td>{{description}}</td>
                <td>
                    {{#if done}}
                        <a href="/toggleDone/{{_id}}">Por hacer</a>
                    {{else}}
                        <a href="/toggleDone/{{_id}}">Lista</a>
                    {{/if}}
                    <a href="/delete/{{_id}}">Eliminar</a>
                    <a href="/tasks/{{_id}}/edit">Actualizar</a>
                </td>
    </tr>
  {{/each}}
    </tbody>

</table>



